@font-face {
    font-family: testFont;
    src: url(Fonts/cartFont2.otf) format('opentype');
}

@font-face {
    font-family: testFont2;
    src: url(Fonts/cartFont3.otf) format('opentype');
}

.itemName {
    font-family: testFont2;
}

.itemDescription {
    font-family: serif;
}

.itemImage {
    vertical-align: middle;
    padding-left: 1%;
}

.cartCard {
    padding: 50px;
    vertical-align: middle;

}

.price {
    margin-left: 30%;
}

#total {
    text-align: right;
    font-weight: bold; 
}

#totalCart {
}

#totalTable {
    padding-right: 100px;
}

#pageTitle {
    font-family: testFont2;
}

#displayTotal {
    font-size: 200%;
    font: bold;
}

