body {
    background-color: green;
}

.itemName {
    padding-left: 5%;
}

.itemDescription {

}

.itemImage {
    vertical-align: middle;
    padding-left: 1%;
}

.cartCard {
    padding: 50px;
    vertical-align: middle;

}

.price {
    margin-left: 30%;
}

#total {
    text-align: right;
    font-weight: bold; 
}

#totalCart {
    /*background-color: #EBDCCE;*/
}

#totalTable {
    padding-right: 100px;
}

