@font-face{
    font-family: Bidaq;
    src: url(Fonts/bidaq/BidaqRegular.otf) format('opentype');
}

@font-face {
    font-family: BakeryFont;
    src: url(Fonts/BakeryFont/BakeryFont.ttf) format('truetype');
}

/*regular sized screen*/

/*body {
    background-color: #F5E5D8;*/
    /*height: 2000px;*/
/*}*/

#cupcake1 {
    object-fit: cover;
    height: 500px;
    width: 94vw;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

#cupcake2 {
    margin-top: 30px;
    width: 25%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.sweet {
    position: absolute;
    left: 55%;
    top: 480px;
    color: brown;
    background-color: white;
    background-color: rgb(255, 255, 255, .5);
    padding: 30px 25px 40px 30px;
    border-radius: 5px;
    font-family: BakeryFont;
    font-size: 4vw;
    font-style: oblique;
    font-weight: 900;
}

#description {
    padding: 30px 25px 40px 60px;
    float: right;
    font-size: 3vw;
    width: 50%;
    font-family: BakeryFont;
}

/*smallest screen*/
@media screen and (max-width: 1200px) {
    .sweet {
        left: 50%;
    }

    #description {
        font-size: 3.6vw;
    }
}

/*biggest screen*/
@media screen and (min-width: 1200px) {
    .sweet {
        left: 68%;
        font-size: 2.5vw;
    }

    #description {
        font-size: 2.2vw;
    }
}
