@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center position-relative my-3 ">
    <img class="bshadow" id="cupcake1" src="images/SweetnessCupcakes.png" />
    <p class="d-none d-xl-inline position-absolute h1" id="sweet">Sweetness in every bite</p>
</div>

<div class="justify-content-center d-flex flex-column flex-xl-row my-5 py-xl-5">
    <img class="bshadow mt-5 mt-xl-4 mx-lg-5" id="example" src="images/pexelsCupcakes.jpg" />

    <div class="p-4 mt-5 mt-lg-0" id="description">
        At Kakey’s Bakery, our mission is to craft delicious, scratch-made baked goods while empowering differently abled individuals to thrive.
        We believe in the power of inclusivity and the value of every individual’s unique talent and ability.
        Through our commitment to providing comprehensive training, meaningful employment opportunities, and a supportive environment, we aim to foster independence,
        confidence, and a sense of belonging within our community.
        With each delectable creation, we not only delight the senses but also contribute to a more inclusive society where everyone has the chance to shine.
        Join us in savoring the sweetness of diversity and making a difference, one scrumptious treat at a time.
    </div>
</div>