@page "/"

<PageTitle>Home</PageTitle>

<img src="images/SweetnessCupcakes.png" id="cupcake1"/>

<div class="sweet">Sweetness in every bite</div>>

<img src="images/pexelsCupcakes.jpg" id="cupcake2"/>

<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>