@page "/"

<PageTitle>Home</PageTitle>


<div>
    <img src="images/SweetnessCupcakes.png" id="cupcake1" />
    <p class="sweet">Sweetness in every bite</p>
</div>


<img src="images/pexelsCupcakes.jpg" id="cupcake2"/>

<div id="description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</div>

@* @for(int i = 10; i > 0; i--)
{
    <div>bla
        bla 
        bla
    </div>
} *@