@page "/Order"
@inject IBaseGoodService basegood
@inject IProductService product
@inject ICustomerService customer

<h3>Order</h3>

<div class="p-5 bg-light">

</div>

<div>
    <img src="images/SweetnessCupcakes.png" />
    <p>Description</p>
    <img src="images/CartIcon.png"/>
</div>

@code {

}
