@page "/SendEmail"
@using MimeKit
@inject IEmailService emailService
@rendermode InteractiveServer

<h3>SendEmail</h3>
<img src="images/SweetnessCupcakes.png" id="cupcake1" />
<input label="Email" @bind-value=receaverEmail/>
<button @onclick="sender">Send test email</button>
@if (isSent)
{
    <p>@returnedMessage</p>
}


@code {
    bool isSent = false;
    string? returnedMessage;
    string? receaverEmail;
    private async Task sender()
    {
        if (receaverEmail is not null)
        {
            var message = new MimeMessage();
            //message.From.Add(new MailboxAddress("Auto Emailer", SenderEmail));
            // message.To.Add(new MailboxAddress("An Email in need of a Message", ReceiverEmail));
            message.Subject = "Automated Message System";

            message.Body = new TextPart("plain")
                {
                    Text = @"Dear Customer,

                       This Is A test Email

                        -- The Bakery"
                };
            returnedMessage = emailService.sendEmail(receaverEmail, message);
            isSent = true;
        }
        await Task.CompletedTask;
    }

}
