@page "/OrderTest"

@inject IPayPalAuthentication paypal

@rendermode InteractiveServer

<h3>TestOrder</h3>
<button @onclick="testorder"> testorder </button>

<button @onclick="captureorder">captureorder</button>

@code {
    string orderid = "";

    public async void testorder()
    {
        orderid = await paypal.CreateOrder(100m);
    }

    public void captureorder()
    {
        paypal.CapturePayment(orderid);
    }
}
