<footer class="footer mt-auto py-4 d-flex justify-content-center layout" data-bs-theme="dark">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="col-md-4 d-flex align-items-center">
            <span class="d-flex align-items-center justify-content-center text-body-secondary">© 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex ps-5 pe-lg-5">
        <li class="ms-lg-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook" /></a></li>
        <li class="ms-lg-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram" /></a></li>
        <li class="ms-lg-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter" /></a></li>
        </ul>
    </div>
</footer>