@font-face {
    font-family: testFont;
    src: url(Fonts/cartFont2.otf) format('opentype');
}

@font-face {
    font-family: testFont2;
    src: url(Fonts/cartFont3.otf) format('opentype');
}



    
h3 {
    font-family: testFont2;
}
#bread {
    object-fit: contain;
    border-radius: 10px;
    max-width: 500px;
}

.content-wrapper {
    display: flex;
    flex-direction: column; 
}

#aboutus {
    font-size: 16px; 
    line-height: 1.6; 
    font-family: testFont2;
}



@media screen and (min-width: 768px) {
    .content-wrapper {
        flex-direction: row; 
    }

}
