@page "/AboutUs"
@using KakeysSharedLib.Telemetry


<h3 class="mt-5">Kakey's Bakery: A Journey of Passion</h3>
<div class="d-flex flex-column flex-xl-row align-items-center mx-5">
    <img class="bshadow mx-5" id="bread" src="https://kakeybakerystorage9.blob.core.windows.net/bakerybasics/HomeadeBread.jpg" />
    <p class="m-5" id="aboutus">
        Back in 2018, I got hooked on watching "The Great British Baking Championship." Despite some doubts from a tough high school culinary teacher, my love for baking never faded. So, I decided to give it another shot and enrolled in Salt Lake Community College's culinary institute. There, I rediscovered my passion for baking.
        After a few years of studying and moving to Sanpete County, I realized it was time to start my own bakery. There wasn't one around, and I saw an opportunity to create something special.
        I wanted Kakey's Bakery to be more than just a business. It had to be a place where people could feel safe, supported, and part of something bigger. I dreamed of making everything from scratch, offering delicious treats that would bring joy to our community.
        Starting a bakery hasn't been easy, but every challenge has made me more determined. My goal is simple: to provide tasty baked goods in a welcoming atmosphere. Kakey's Bakery is a place where everyone is welcome, and where we can all share in the simple pleasure of good food and good company.
    </p>
</div>


@code {
    protected override void OnInitialized()
    {
        Metrics.AboutUsAccessCount.Add(1);
    }
}
