@font-face {
    font-family: testFont;
    src: url(Fonts/cartFont2.otf) format('opentype');
}

@font-face {
    font-family: testFont2;
    src: url(Fonts/cartFont3.otf) format('opentype');
}


.modal-header i {
    margin-left: auto !important;
}


.imgbutton {
    /*height: auto;*/
    object-fit: cover;
    aspect-ratio: 1/1;
}

img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

    img:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.Modal {
    font-family: serif;
    font-size: large;
}

Modal {
    font-family: testFont;
    text-align: left;
}

select, input {
}

.order-container {
    width: 350px;
    overflow: hidden;
}
/*Begin img zoom section*/
.imgbutton {
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

    .imgbutton:hover {
        overflow: hidden;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

.typelabel {
    position: absolute;
    top: 10%;
    text-align: right;
    width: 85%;
    font-family: testFont;
    font-size: 225%;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff !important;
}

.cart {
    color: #4E362E;
}

.pageTitle {
    width: 100%;
    text-align: center;
    font-family: testFont2;
    font-size: 300%;
}

.totalPage {
    background-color: #EBDCCE;
}


.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/*small*/
@media screen and (min-width: 576px) {
    /*    .cartbutton {
        bottom: 50px;
        right: 50px;
    }*/
}

/*medium*/
@media screen and (min-width: 786px) {
}

/*large*/
@media screen and (min-width: 992px) {
    .order-container {
        width: 450px;
    }
}

/*extra large*/
@media screen and (min-width: 1200px) {
    .order-container {
        width: 350px;
    }
}

/*extra extra large*/
@media screen and (min-width: 1400px) {
}

/*gargantuan*/
@media screen and (min-width: 2000px) {
    .order-container {
        width: 550px;
    }
}
