@font-face {
    font-family: 'Bidaq', 'Sans-serif';
    src: url(Fonts/bidaq/BidaqRegular.otf) format('opentype');
}

@font-face {
    font-family: 'BakeryFont', 'Sans-serif';
    src: url(Fonts/BakeryFont/BakeryFont.ttf) format('truetype');
}

@font-face {
    font-family: 'testFont', 'Sans-serif';
    src: url(Fonts/cartFont2.otf) format('opentype');
}

@font-face {
    font-family: 'testFont2', 'Sans-serif';
    src: url(Fonts/cartFont3.otf) format('opentype');
}

.bshadow {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

#cupcake1 {
    object-fit: cover;
    height: 500px;
    width: 94vw;
    border-radius: 10px;
}

#cupcake2 {
    margin-top: 30px;
    width: 25%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

#sweet {
    color: #814D25;
    background-color: white;
    background-color: rgb(255, 255, 255, .5);
    padding: 30px 25px 40px 30px;
    border-radius: 5px;
    font-family: BakeryFont;
    font-style: oblique;
    font-weight: 900;
    left: 60%;
    top: 70%;
}

#description {
    font-size: 150%;
    font-family: 'Footlight MT', 'Sans-serif';
}

#example {
    object-fit: cover;
}


/*small*/
@media screen and (min-width: 576px) {
    #example {
        height: 25rem;
    }
}

/*medium*/
@media screen and (min-width: 786px) {
    #example {
        border-radius: 10px;
    }
}

/*large*/
@media screen and (min-width: 992px) {
}

/*extra large*/
@media screen and (min-width: 1200px) {
    #example {
        width: 500rem;
    }
}

/*extra extra large*/
@media screen and (min-width: 1400px) {
    #description {
        font-size: 200%;
    }
}

/*gargantuan*/
@media screen and (min-width: 2000px) {
    #sweet {
        left: 70%;
        top: 70%;
    }
}
