@font-face {
    font-family: testFont;
    src: url(Fonts/cartFont2.otf) format('opentype');
}

@font-face {
    font-family: testFont2;
    src: url(Fonts/cartFont3.otf) format('opentype');
}

.itemName {
    font-family: testFont2;
    font-size: large;
}

.itemDescription {
    font-family: serif;
}

.itemImage {
    vertical-align: middle;
    padding-left: 1%;
}

.cartCard {
    padding: 50px;
    vertical-align: middle; 
}

.price {
    margin-left: 30%;
}

#total {
    text-align: right;
    font-weight: bold;
}

#totalCart {
}

#totalTable {
    padding-right: 100px;
}

#pageTitle {
    font-family: testFont2;
}

#displayTotal {
    font-size: 200%;
    font: bold;
}

.order-container {
    overflow: hidden;
}

.imgbutton {
    /*height: auto;*/
    object-fit: cover;
    aspect-ratio: 1/1;
}

.img-thumbnail {
    max-width: 100%;
}

/*small*/
@media screen and (min-width: 576px) {

}

/*medium*/
@media screen and (min-width: 786px) {
    .img-thumbnail {
        max-width: 50%;
    }

    .itemName {
        font-size: x-large;
    }
}

/*large*/
@media screen and (min-width: 992px) {
    .order-container {
        width: 450px;
    }
}

/*extra large*/
@media screen and (min-width: 1200px) {
    .order-container {
        width: 350px;
    }

    .img-thumbnail {
        max-width: 100%;
    }

    .itemName {
        font-size: xx-large;
    }
}

/*extra extra large*/
@media screen and (min-width: 1400px) {
    .itemName {
        font-size: xxx-large;
    }
}

/*gargantuan*/
@media screen and (min-width: 2000px) {
    .order-container {
        width: 550px;
    }
}
