@page "/Confirmation"

@using KakeysSharedLib.Services.Interfaces
@inject ICustomerService customer

<div class="p-5 bg-light">
<h2 class="text-center">Thank you {user} for placing an order at Kakey's Bakery!</h2>
<p class="text-center">I will get in contact with you shortly to go over your order and pricing in more detail using {preferred contact}. You can expect a {contact method} from me within 5 buisness days</p>
</div>

<p>Would you like to keep in contact with me for news, promotions and other information? If so sign up for my mailing list</p>
<input type="text" placeholder="Email"/>


@code {

}
