@page "/admin"
@inject ICustomerService customer
@inject IProductService product
@inject IPurchaseService purchase
<h1>ALL ORDERS</h1>
<div class="align-content-center bg-light">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Order Date</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Mark</td>
                <td>Otto</td>
                <td>testEmail@something.com</td>
            </tr>
            <tr>

                <td>Jacob</td>
                <td>Thornton</td>
                <td>testEmail@something.com</td>
            </tr>
            <tr>

                <td>Larry</td>
                <td>the Bird</td>
                <td>testEmail@something.com</td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}
