@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu />

        <div id="main-article" class="content px-md-4 mt-5 min-vh-100" style="background-color: #F5E5D8;">
            @Body
        </div>

        <MainFooter />
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>