<footer class="footer mt-auto py-4 d-flex justify-content-center layout" data-bs-theme="dark" style="background-color: #4E362E;">

    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex pe-5">
        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-facebook" /></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-instagram" /></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><i class="bi bi-twitter" /></a></li>
    </ul>
</footer>