@using KakeysBakery.Components.OAuth
<nav class="navbar navbar-expand-xl border-bottom border-body shadow-xl" data-bs-theme="dark" style="background-color: #4E362E">
    <div class="container-fluid">

        @* <a class="navbar-brand me-5" href="#">Navbar</a> *@
        <button class="navbar-toggler ms-auto my-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-xl-none position-absolute top-0 start-50 translate-middle-x d-flex justify-content-center" style="z-index:1">
            <img class="mt-1" style="width:8rem" src="https://kakeybakerystorage9.blob.core.windows.net/bakerybasics/BlackLogo.png" />
        </div>

        <div class="collapse navbar-collapse py-3" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 position-relative">
                <span class="d-none d-lg-block position-absolute translate-middle p-5 my-5" style="z-index:1">
                    <img class="position-relative mt-3" style="width:200px; left:-100px; top:20px;" src="https://kakeybakerystorage9.blob.core.windows.net/bakerybasics/BlackLogo.png" />
                </span>

                <NavLink class="nav-link mx-1" href="/" style="z-index:2" Match="NavLinkMatch.All">
                    <span class="nav-item" href="#">Home</span>
                </NavLink>
                <NavLink class="nav-link mx-1" href="Order" style="z-index:2" Match="NavLinkMatch.All">
                    <span class="nav-item" href="#">Order</span>
                </NavLink>
                <NavLink class="nav-link mx-1" href="Customize" style="z-index:2" Match="NavLinkMatch.All">
                    <span class="nav-item" href="#">Customize</span>
                </NavLink>
                <NavLink class="nav-link mx-1" href="AboutUs" style="z-index:2" Match="NavLinkMatch.All">
                    <span class="nav-item" href="#">About Us</span>
                </NavLink>
            </div>

            <div class="navbar-nav mb-2 mb-lg-0" data-bs-theme="dark">

                <div class="nav-item px-1 d-flex justify-content-center">
                    <a class="d-none d-xl-inline nav-link bi bi-cart-fill px-3 pb-5" href="cart"></a>
                    <a class="d-xl-none nav-link" href="cart">Cart</a>
                </div>

                <div class="nav-item px-1 d-flex justify-content-center align-items-center">
                    <CascadingAuthenticationState>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <NavLink class="nav-link mx-1" href="/admin/edit-product" style="z-index:2" Match="NavLinkMatch.All">
                                    <span class="nav-item d-none d-xl-inline p-3 text-nowrap" href="#">Edit</span>
                                    <span class="nav-item d-xl-none text-nowrap" href="#">/admin/edit-product</span>

                                </NavLink>
                                <NavLink class="nav-link mx-1" href="/admin/orders" style="z-index:2" Match="NavLinkMatch.All">
                                    <span class="nav-item d-none d-xl-inline p-3 text-nowrap" href="#">View Orders</span>
                                    <span class="nav-item d-xl-none text-nowrap" href="#">/admin/orders</span>

                                </NavLink>
                                <NavLink class="nav-link mx-1" href="/admin/send_subscription_email" style="z-index:2" Match="NavLinkMatch.All">
                                    <span class="nav-item d-none d-xl-inline p-3 text-nowrap" href="#">Send Email</span>
                                    <span class="nav-item d-xl-none text-nowrap" href="#">/admin/send_subscription_email</span>

                                </NavLink>
                            </Authorized>
                        </AuthorizeView>

                        <AuthorizeView>
                            <Authorized>
                                <NavLink class="nav-link mx-1" href="Account/Logout" style="z-index:2" Match="NavLinkMatch.All">
                                    <span class="nav-item d-none d-xl-inline p-3 text-nowrap" href="#">Log Out</span>
                                    <span class="nav-item d-xl-none text-nowrap" href="#">Log Out</span>

                                </NavLink>
                            </Authorized>
                    
                            <NotAuthorized>
                                <NavLink class="nav-link mx-1" href="Account/Login?redirectUri=/" style="z-index:2" Match="NavLinkMatch.All">
                                    <span class="nav-item d-none d-xl-inline p-3 text-nowrap" href="#">Log In</span>
                                    <span class="nav-item d-xl-none text-nowrap" href="#">Log In</span>

                                </NavLink>
                            </NotAuthorized>
                        </AuthorizeView>
                    </CascadingAuthenticationState>
                </div>

            </div>

        </div>

    </div>
</nav>