<h3>Order</h3>

@code {
    // [CascadingParameter]
    // private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // await authManager.SetAuthState(authenticationState);
    }


    // THIS IS INSIDE OF ADD TO CART
    // if (!(await authManager!.IsUserLoggedIn()))
    // {
    //     navManager.NavigateTo("Account/Login?redirectUri=/Order", forceLoad: true);
    //     return;
    // }
}
